In [6]:
import os
from eod import EodHistoricalData
from random import randint
api_key=os.environ['EOD_API_TOKEN']
client=EodHistoricalData(api_key)

### Historical Prices, Splits and Dividends Data APIs
    This workbook contains some worked examples from the EOD historical data code repository located below:
    
    https://github.com/resonates7/eod-data/blob/main/README.md

In [72]:
#Stock Price Data API (End-Of-Day Historical Data):
# returns a nested list of data
resp=client.get_prices_eod('AAPL', preiod='d', order='d', from_='2021-09-01')
#resp

In [21]:
#Technical Indicator API: Retrieve technical data associated with the price action of an instrument. The data 
#is mainly oriented to technical indicators rather than any other price-action methodology 
#(e.g., Elliot Waves, Wyckoff, etc.) 
measures = client.get_indicator_name()
resp = client.get_instrument_ta('AAPL', function='wma', from_='2021-06-01')
#measures, resp

#### Intraday Historical Data API: 

Get intraday historical stock price data for US (NYSE and NASDAQ), Canada, and MOEX tickers. The 1-minute interval includes the pre-market and after-hours trading data from 2004 (more than 15 years of the data), and for the 5-minute intervals, the data starts from October 2020. For other tickers (mainly for international instruments), it is only available the 5-minute intervals and only from October 2020


- symbol(str): Required - Name of the instrument to retrieve data.
- interval(str): Required - use '5m' for 5-minutes intervals and '1m' for 1-minute intervals.
- from_(str) and to(str): Optional - Use these parameters to filter data by datetime. Parameters should be passed in UNIX time with UTC timezone, for example, these values are correct: from_=1564752900 and to=1564753200 and correspond to 2019-08-02 13:35:00 and 2019-08-02 13:40:00 respectively. The maximum period between 'from_' and 'to' is 100 days. Try this site to converte dates into UNIX https://www.unixtimestamp.com/index.php

In [28]:
resp=client.get_prices_intraday('EUR.FOREX', interval='5m', from_='1620136800', to='1620414000')
#resp

### Fundamental and Economic Financial Data APIs

#### Insider Transactions API: 

The insider transactions API data is available for all US companies that report Form 4 to the SEC. Insider trading involves trading in a public companyâ€™s stock by someone who has non-public, material information about that stock for any reason.

In [33]:
resp=client.get_insider_transactions(code='AAPL', from_='2015-01-01')
#resp

#### Fundamental Data: 

Stocks, ETFs, Mutual Funds, Indices: Access to fundamental data API for stocks, ETFs, Mutual Funds, and Indices from different exchanges and countries. Almost all major US, UK, EU, India, LATAM, and Asia exchanges are available.

In [38]:
resp = client.get_fundamental_equity('QVAL.US') # ETF
#resp

In [40]:
# Stock - request the quarterly statements
resp = client.get_fundamental_equity('AAPL.US', filter_='Financials::Balance_Sheet::quarterly')
#resp

In [51]:
# Stock - Request specific fields from the General layer
resp = client.get_fundamental_equity('AAPL.US', filter_='General::Code,General, Earnings')
#resp

In [45]:
resp.keys()

dict_keys(['General::Code', 'General', 'Earnings'])

In [ ]:
'''

more to come

'''

In [54]:
'''
transform price to dataframe
'''

'\ntransform price to dataframe\n'

In [65]:
import pandas as pd
resp=client.get_prices_eod('AAPL', preiod='d', order='d', from_='2021-09-01')

In [66]:
type(resp[0])

dict

In [68]:
df_prices = pd.DataFrame(resp)
df_prices

         date    open    high     low   close  adjusted_close     volume
0  2021-09-13  150.63  151.41  148.75  149.55          149.55   97750498
1  2021-09-10  155.00  155.48  148.70  148.97          148.97  140646400
2  2021-09-09  155.49  156.11  153.95  154.07          154.07   57305700
3  2021-09-08  156.98  157.04  153.98  155.11          155.11   74420200
4  2021-09-07  154.97  157.26  154.39  156.69          156.69   82278300
5  2021-09-03  153.76  154.63  153.09  154.30          154.30   57808700
6  2021-09-02  153.87  154.72  152.40  153.65          153.65   71115500
7  2021-09-01  152.83  154.98  152.34  152.51          152.51   80313700

In [70]:
# now transform insider data to dataframe
resp=client.get_insider_transactions(code='AAPL', from_='2015-01-01')
df_insider = pd.DataFrame(resp)
df_insider.head(5)

,code,exchange,date,reportDate,ownerCik,ownerName,ownerRelationship,ownerTitle,transactionDate,transactionCode,transactionAmount,transactionPrice,transactionAcquiredDisposed,postTransactionAmount,link
0,AAPL,US,2021-08-25,None,None,Timothy D Cook,None,CEO,2021-08-25,S,2386440,148.58,D,NaN,http://www.sec.gov/Archives/edgar/data/320193/...
1,AAPL,US,2021-08-06,None,None,Deirdre O'brien,None,SVP,2021-08-06,S,14877,145.99,D,NaN,http://www.sec.gov/Archives/edgar/data/320193/...
2,AAPL,US,2021-08-02,None,None,Katherine L. Adams,None,SVP,2021-08-02,S,17000,145.89,D,324164.0,http://www.sec.gov/Archives/edgar/data/320193/...
3,AAPL,US,2021-05-03,None,None,Katherine L Adams,None,SVP,2021-05-03,S,17000,132.80,D,333044.0,http://www.sec.gov/Archives/edgar/data/320193/...
4,AAPL,US,2021-05-03,None,None,Luca Maestri,None,CFO,2021-05-03,S,121072,132.81,D,143961.0,http://www.sec.gov/Archives/edgar/data/320193/...